<div class="hero">
  <div class="hero-overlay">
  <h1 style="color: #000000e9;">Welcome to Memory Track</h1>
  <p style="color: #000000e9;">A simple application to manage and keep memories</p>
  </div>
  <% if (locals.currentUser) { %>
    <a href="/user/<%= currentUser.id %>" class="btn btn-accent">Profile</a>
<% } else { %> 
  <a href="/auth/signup" style="color:black;"class="btn btn-accent">Get Started</a>
<% } %>
</div>

<nav class="container">
  <label for="myDropdown">Choose an option:</label>
  <select id="myDropdown" name="options">
    <option value="Posts">Posts</option>
    <option value="Map">Map</option>
    <option value="Timeline">Timeline</option>
  </select>
  </nav>

<% if (locals.posts) { %>
  <a href="/user/<%=currentUser.id%>/posts/new" class="btn btn-accent">New post</a>
  <div class="posts">
    <% locals.posts.forEach(post => { %>
      <div class="post">
        <h2><%= post.title %></h2>
        <p><%= post.description %></p>
        <p><%= post.createdAt %></p>
          <a href="/post/<%= post.id %>/edit" class="btn btn-accent">Edit</a> <!-- TODO make edit and delete pages nigga-->
          <form action="/post/<%= post.id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
          </form>
      </div>
    <% }); %>
  </div>
<% } %>
